.sticky-top{
    position: sticky;
    top: 0px;
    z-index: 99;
}

.box-shadow-d{
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

.navbar-brand span:nth-child(1){
    background-color: #000;
    color: white;
    border: 1px solid #000;
    border-radius:4px 0px 0px 4px;
    padding-left: 4px;
    font-size: 25px;
}

.navbar-brand span:nth-child(2){
    border:1px solid #000;
    padding-right: 4px;
    border-radius: 0px 4px 4px 0px;
    font-size: 25px;
}

.border-r-50{
    border-radius: 50%;
}

.menu-relative{
    position: relative;
}

.cart-menu-div{
    position: absolute;
    left: -150px;
    display: block;
}

.category-title{
    margin-bottom: 0px;
    padding: 20px;
}

.cart-menu-div .cart-menu-short{
    padding: 10px;
    background: #fff;
    width: 350px;
    height: auto;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 12px;
}

.cart-menu-product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart-menu-product-trash button{
    padding: 0px;
    border: 0px;
}

.cart-menu-product-trash i{
    color:red;
}

.cart-menu-product-trash i:hover{
    color:rgba(255, 0, 0, 0.493);
}

.cart-menu-product-img img{
    width: 50px;
    height: 50px;
}

.cart-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-link span{
    font-weight: 600;
}

.cart-link .btn-dark{
    padding: 7px;
    border-radius: 0px;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card a{
    text-decoration: none;
}

.card .card-img-top{
    height: 240px;
    object-fit: contain;
}

@media screen and (max-width:900px) {
    .responsive-mb{
        margin-bottom: 20px;
    }
}

.card-body{
    text-align: start;
    position: relative;
}

.card-title{
    color: #222;
    text-decoration: none;
    width: 100%;
    display: block;
    margin-bottom: 0px;
    display: inline-block;
    width: 245px;
    overflow: hidden;
}

.card-price{
    position: absolute;
    top: 17px;
    right: 10px;
}

.card-price .current-price{
    color: green;
    font-weight: 600;
}

.card-price .discount-price{
    color: green;
    font-weight: 600;
}

.text-discount{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: red !important;
}

.save-price{
    font-size: 11px;
    font-style: italic;
}


.card-title:hover{
    color: unset;
}

.card .sku{
    display: block;
    font-size: 11px;
    color: #555555b0;
    margin-bottom: 20px;
}

.card:hover{
    cursor: pointer;
}

.card:hover .card-title{
    text-decoration: underline;
}

.card ul{
    font-size: 13px;
}

.computer-info-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.computer-info-list div:nth-child(1){
    color: #999;
    font-weight: 600;
}

.computer-info-list div:nth-child(2){
    color: #666;
    padding-left: 10px;
}

.computer-featured-list{
    list-style: none;
    padding-left: 0px;
}

.computer-featured-list li{
    display: flex;
}

.computer-featured-list li::before {
    content: "• ";
    color: #58d4dd;
    padding-right: 10px;
}

.card-add-btn{
    padding: 5px;
    border-radius: 0px;
}